<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <% include inc/header.ejs %>
    </head>
    
    <body>
        <!-- NAVIGATION -->
        <% include inc/nav.ejs %>
        <!-- HOME -->
        <section class="home">
            <div class="bs-carousel">
                <div id="my-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-5">
                                        <h1>优质车用尿素，请认准可兰素</h1> 
                                        <p class="tagline">可兰素始终专注于PM2.5治理领域，致力De-NOx(De-NOx=去除PM2.5核心物质--氮氧化合物)技术研发为国IV车辆提供高品质产品和完善的解决方案。</p>                  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-5">
                                        <h1>10000000次的选择</h1>    
                                        <p class="tagline">2015年6月27日，持畅防结晶型车用尿素成为可兰素成功下线的第10000000桶产品，这款具有里程碑意义的持畅和针对北方低温地区研发的冰畅，备受市场欢迎。</p>                  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    
              </div> <!-- END CAROUSEL -->
                <!-- Controls -->
                <a class="arrow arrow-left" href="#my-carousel" role="button" data-slide="prev">
                    <span><i class="fa fa-caret-left"></i></span>
                </a>
                <a class="arrow arrow-right" href="#my-carousel" role="button" data-slide="next">
                    <span><i class="fa fa-caret-right"></i></span>
                </a>
            </div>
        </section>
        <!-- END HOME -->
        
        <!-- FEATURE -->
        <section class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1 text-center">
                        <h1>责任 创新 挑战</h1><div class="border center-block"></div>
                        <p class="tagline">以科技还原生活。蓝天、碧水、清新可人的空气，可兰素，引领环保新表现。面向市场 主动出击 专业水准 快速反应</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <h3><i class="fa fa-lightbulb-o"></i>环境责任</h3>
                        <p>科技为先 规范为本</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h3><i class="fa fa-cubes"></i>质量方针</h3>
                        <p>全面控制 持续改进 锐意进取追求卓越</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h3><i class="fa fa-support"></i>销售主张</h3>
                        <p>品质王者 开创中国AdBlue市场</p>
                    </div>
                </div>
            </div>
        </section><hr>
        <!-- END FEATURE -->
    
        
    
        <!-- FEATURE PROJECT -->
        <section class="feature-project">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
                        <h1>RESPONSIBILITY & INNOVATION</h1><div class="border center-block"></div>
                        <p class="tagline">引领环保新表现</p>
                    </div>
                </div>  
            </div>  
            
            <div id="feature-project" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                        <li data-target="#feature-project" data-slide-to="0" class="active"><button class="btn btn-primary"><i class="fa fa-arrow-left"></i></button></li>
                        <li data-target="#feature-project" data-slide-to="1"><button class="btn btn-primary"><i class="fa fa-arrow-right"></i></button></li>
                    </ol>   
                <div class="carousel-inner" role="listbox">
                    <% 
                        var len = 2;
                        var listlen = list.length;
                        for(i=0;i<len;i++){ 
                            var active = i ==0 ? 'active' : '';
                    %>
                    <div class="item <%= active %>">
                        <div class="container-fluid">
                            <div class="row p-y-0">

                                <%
                                    for(j=0;j<4;j++){
                                        var o = 4 * i + j;
                                        if(!list[o]){
                                            break;
                                        }
                                %>
                                <div class="col-md-3 col-sm-6 p-x-0 ">
                                    <div class="project-img"> 
                                        <img class="img-responsive" src="<%= list[o].photoUrl%>" alt="<%= list[o].name%>" />
                                        <div class="project-overlay">
                                            <p><a class="text-white" href="/products/<%=list[o]._id%>"><%= list[o].name%></a></p>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <%}%>
                    <!-- <div class="item active">
                        <div class="container-fluid">
                            <div class="row p-y-0">
                                <div class="col-md-3 col-sm-6 p-x-0 ">
                                    <div class="project-img"> 
                                        <img class="img-responsive" src="images/p-1.jpg" alt="Project-image" />
                                        <div class="project-overlay">
                                            <div><i class="fa fa-link"></i><i class="fa fa-search"></i></div>
                                            <h4>Red Business Cards</h4>
                                            <p> Web Design, Branding</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 p-x-0">
                                    <div class="project-img"> 
                                        <img class="img-responsive" src="images/p-2.jpg" alt="Project-image" />
                                        <div class="project-overlay">
                                            <div><i class="fa fa-link"></i><i class="fa fa-search"></i></div>
                                            <h4>Red Business Cards</h4>
                                            <p> Web Design, Branding</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 p-x-0">
                                    <div class="project-img"> 
                                        <img class="img-responsive" src="images/p-3.jpg" alt="Project-image" />
                                        <div class="project-overlay">
                                            <div><i class="fa fa-link"></i><i class="fa fa-search"></i></div>
                                            <h4>Red Business Cards</h4>
                                            <p> Web Design, Branding</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 p-x-0">
                                    <div class="project-img"> 
                                        <img class="img-responsive" src="images/p-4.jpg" alt="Project-image" />
                                        <div class="project-overlay">
                                            <div><i class="fa fa-link"></i><i class="fa fa-search"></i></div>
                                            <h4>Red Business Cards</h4>
                                            <p> Web Design, Branding</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid">
                            <div class="row p-y-0">
                                <div class="col-md-3 col-sm-6 p-x-0 ">
                                    <div class="project-img"> 
                                        <img class="img-responsive" src="images/p-5.jpg" alt="Project-image" />
                                        <div class="project-overlay">
                                            <div><i class="fa fa-link"></i><i class="fa fa-search"></i></div>
                                            <h4>Red Business Cards</h4>
                                            <p> Web Design, Branding</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 p-x-0">
                                    <div class="project-img"> 
                                        <img class="img-responsive" src="images/p-6.jpg" alt="Project-image" />
                                        <div class="project-overlay">
                                            <div><i class="fa fa-link"></i><i class="fa fa-search"></i></div>
                                            <h4>Red Business Cards</h4>
                                            <p> Web Design, Branding</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- END FEATURE PROJECT -->
    
        <!-- PROJECT ITEM -->
        <section class="project-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-item">
                            <div class="media">
                                <div class="pull-left"><span class="feature-hex"><i class="fa fa-magic"></i></span> </div>
                                <div class="media-body"><h4>车用尿素溶液</h4>
                                    <p>高转化，高清洁，长寿命，结晶无踪</p></div>
                            </div>
                        </div>
                        <div class="single-item">
                            <div class="media">
                                <div class="pull-left"><span class="feature-hex"><i class="fa fa-android"></i></span> </div>
                                <div class="media-body">
                            <h4>国四/国五车辆清洗系列</h4>
                            <p>多效成分，快速清洗，清除积垢，安全高效</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-item">
                            <div class="media">
                                <div class="pull-left"><span class="feature-hex"><i class="fa fa-clipboard"></i></span> </div>
                                <div class="media-body">
                            <h4>加注设备系列</h4>
                            <p>移动式，单枪式，撬装式</p>
                                    </div>
                                </div>
                        </div>
                        <div class="single-item">
                            <div class="media">
                                <div class="pull-left"><span class="feature-hex"><i class="fa fa-dropbox"></i></span> </div>
                                <div class="media-body">
                            <h4>生物降解发动机冷却系列</h4>
                            <p>环保配方，高效降解</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-item">
                            <div class="media">
                                <div class="pull-left"><span class="feature-hex"><i class="fa fa-laptop"></i></span> </div>
                                <div class="media-body">
                            <h4>国四养护专用系列</h4>
                            <p>清除积碳，降低油耗，改进燃油，排除水分</p>
                                    </div>
                                </div>
                        </div>
                        <div class="single-item">
                            <div class="media">
                                <div class="pull-left"><span class="feature-hex"><i class="fa fa-dashboard"></i></span> </div>
                                <div class="media-body">
                            <h4>润滑油系列</h4>
                            <p>防止催化剂中毒，有助于尾气达标，更低灰分</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END PROJECT ITEM -->
    
        <!-- BOTTOM FOOTER -->
        <% include inc/footer.ejs %>
        <!-- END BOTTOM FOOTER -->
        
        <!-- ALL JAVASCRIPT -->         
        <script src="js/jquery.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>