<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <% include inc/header.ejs %>
    </head>
    
    <body>
        <!-- NAVIGATION -->
        <% include inc/nav.ejs %>

        
        <!-- ELEMENTS -->
        <section>
            <div class="page-header">
                <div class="container" style="max-width: 1170px;">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>产品服务</h1>
                            <p>Product & Service</p>
                        </div>
                    </div>  
                </div>  
            </div>  
            <div class="elements">
            <div class="container products" style="max-width: 1170px;">
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">产品分类</div>
                            <ul class="list-group">
                                <% for(o in prdTypes){%>
                                <li class="list-group-item <%=setCurrentNav('/products?prdType='+prdTypes[o]._id)%>"><a href="/products?prdType=<%= prdTypes[o]._id%>"><%=prdTypes[o].name%></a></li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-primary">
                            <div class="panel-heading">产品列表</div>
                            <div class="panel-body">
                                <% for(o in products){ %>
                                <div class="col-md-3 item">
                                    <a href="/products/<%=products[o]._id%>">
                                        <img class="img" src="<%=products[o].photoUrl%>" style="width:100%;" alt="<%=products[o].name%>"/>
                                    </a>
                                    <a class="center-block" href="/products/<%=products[o]._id%>"><%=products[o].name%></a>
                                </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- //container -->
            </div>  
        </section>
        <!-- END SINGLE -->
        
        <!-- BOTTOM FOOTER -->
        <% include inc/footer.ejs %>
        <!-- END BOTTOM FOOTER -->
        
        <!-- ALL JAVASCRIPT -->         
        <script src="/js/jquery.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script>
            $(function () {
                // $(".img").css('height',$(".img").width());
            });
        </script>
    </body>
</html>